table {
    border-spacing: 10px;
    width: 100%; 
    border-spacing: 0 1em;
  }

.admin-body{
    background-color: rgb(61, 3, 53); 
    color: white; 
    display: flex; 
    flex-direction: column; 
}

.button-accept{
    margin:.1em .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(0, 138, 7);
    border-radius: .4em;
    border-style:none;
    box-shadow: 5px 5px black;
    transition-duration: 500ms; 
}
.button-accept:hover{
    background-color: rgb(25, 199, 39);
    transition-property: all;
    transition-duration: 500ms;

}

.button-refuse{
    margin: .1em .5em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background-color: rgb(116, 0, 0);
    border-radius: .4em;
    border-style:none;
    box-shadow: 5px 5px black;
    transition-duration: 500ms; 
}
.button-refuse:hover{
    background-color: rgb(184, 0, 0);
    transition-property: all;
    transition-duration: 500ms;

}
.coneiner-buttons-actions{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.usernames{
    overflow-x: scroll; 
    max-width: 100px; 
    text-align: center;
    color: white;
    transition: all .5s;
    padding: 1em;
    border-radius: .2em;
    
}
.conteiner-no-users-request{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.header-admin{
    display: flex; 
    justify-content: space-around; 
    padding: 1em;
    background-color: rgb(46, 19, 41);
}
.footer-admin{
    margin-top: auto; 
    display: flex; 
    padding: 3em; 
    justify-content: end;
    background-color: rgb(37, 5, 33);
    padding: 3rem;
    
}
.column-hover:hover{
    .usernames{
        background-color:black ;

        text-shadow: 2px 2px 10px #ffffff;

        
    }
}
@media(width<457px){
    .coneiner-buttons-actions{
        flex-direction: column;
        gap:1em;
    }
    .header-admin{
        flex-direction: column;
        justify-content:center;
        align-items: center;
        gap: 1em;
        padding-bottom: 1.3em;

    }
}
