*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;

}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    height: 100%;

}
.conteiner-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-dark-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    cursor: pointer;
    background-color: rgb(160, 142, 161);
    border-radius: .4em;
    border-style:none;
    box-shadow: 5px 5px ;
    transition-duration: 500ms; 
}
.button-dark-mode:hover{
    background-color: rgb(199, 165, 199);
    transition-property: all;
    transition-duration: 500ms;

}