header{
    background-color: rgb(46, 19, 41);

    display: flex;
    justify-content:space-between;
    align-items: center;
}
body{
    background-color: rgb(46, 19, 41);
    width: 100%;
    
}
main{
    background-color: rgb(46, 19, 41);


}
footer{
    background-color: rgb(37, 5, 33);
    padding: 3rem;
    margin-top: auto;
    display: flex;
    justify-content: end;

}
/* header */
.button-cella-dark{
    background-color: rgb(237, 211, 255);
    min-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: .4em;
    padding-top: 8px;
    box-shadow: 5px 5px ;
    margin: 1em;
    user-select: none;
    cursor: pointer;
    transition: all 500ms;
}
.button-cella-dark:hover{
    filter:brightness(110%);
}
.header-buttons{
    padding: 0;
    min-width: 130px;
    min-height: 30px;
    max-width: 130px;
    margin: 5px 8px;
    overflow: hidden;
    user-select: none;

    white-space: nowrap;
}
.header-buttons-grup{
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 600px;
    padding:.4em;
    transition: all .5s;
}
/* phone menu */
.menu-phone-cancel{
    display: block;
    color: rgb(160, 142, 161);
    filter: drop-shadow( 3px 3px 1px black);
    cursor: pointer;
    transition: all .5s;
}
.menu-phone-cancel:hover{
    color: rgb(199, 165, 199);
}
#menuResponsiveID{
    position:fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 0;
    left: 0;
    background-color: rgb(46, 19, 41);
    height: 100%;
    z-index: 1;
    width: 0%;
    transition: all .5s;
}
@keyframes animation-menu-start {
    0%      {width: 0%;}
    100%    {width: 100%;}
}
@keyframes animation-menu-end {
    0%      {width: 100%;}
    100%    {width: 0%;}
}
.menuResponsive-Start{
    animation-name: animation-menu-start;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.menuResponsive-End{
    animation-name: animation-menu-end;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.menu-renameesponsive-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-bottom: 2em;
}
.menu-responsive-buttons{
    padding: 0;
    min-width: 130px;
    min-height: 30px;
    max-width: 130px;
    margin: 1em 0;
    overflow: hidden;
    user-select: none;
    white-space: nowrap;
}

/* dialog */
.dialogs-buttons{
    margin-top: 1.5em;
    padding: .2em .7em;
}
.dialogs-names-labels{
    color: white;
}
.check-input-rename-container{
    color: white;
    margin-top:1em ;
}
/* main */
.user-path-text{
    color: white;
    overflow-x: scroll;
    text-align: center;
    margin: 0 .6em;
    white-space: nowrap;
}
.user-path-conteiner{
    padding: .8em;
    background-color: rgb(36, 17, 37); 
}
.titles-content{
    text-align: center;
    color: white;
    background-color: rgb(75, 29, 69);   
    margin-bottom: .6em;  
    padding: .4em 0;
}
.conteiner-buttons{
    display: grid;
    grid-template-columns:92% 6%;
    grid-gap: 1%;
    transition: all .5s;
}
.user-directories-names{
    overflow-x:scroll;
    margin-left: .5em;
    background-color: rgb(160, 142, 161);
    cursor: pointer;
    border-style:none;
    border-radius: .1em;
    box-shadow: 5px 5px ;
    transition: all .3s;
    white-space: nowrap;
    
}
.user-directories-names:hover{
    background-color: rgb(199, 165, 199);

}
.subcontainer-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;


}
.form-buttons{
    width: 100%;
    margin-bottom: .8em;
}
.title-file{
    color: white;
    padding-left: .8em;
    overflow-x: scroll;
    font-weight:600;
    display: flex;
    white-space: nowrap;
    align-items: center;
}
.select-file{
    transition: all .2s;
}
.select-file:hover{
    background-color: rgb(27, 10, 21);
    padding:  .8em 0;
    filter: brightness(110%);
}
/* footer */
.button-footer{
    padding: .5em 2em;
}

@media (width<1713px){
    .conteiner-buttons{
        grid-template-columns:88% 10%;      
    }
}

@media (width<963px){
    .conteiner-buttons{
        grid-template-columns:84% 14%;      
    }
}

@media (width<686px){
    /* header */
    .header-buttons-grup{     
        padding: 0em;
        width: 0px;
    }
    .conteiner-buttons{
        grid-template-columns: 74% 24%;  
    }
}

@media (width<447px){
    .conteiner-buttons{
        grid-template-columns: 68% 30%;
    }
    .user-directories-names{
        margin-left: .2em;
    }
}