*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    height: 100%;

}
main{
    height: 100%;
    background-color: rgb(63, 51, 63);
    

}
footer{
    background-color: rgb(19, 19, 46);
    padding: 3rem;
    margin-top: auto;
    
}
header{
    background-color: rgb(67, 29, 82);

}
dialog{
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;


}

h2{
    font-size: 2rem;
    padding: 0%;
    margin: 0%;
}
#errorCella{
    color: red;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:auto;
    margin-right:auto;
}
.logotipo{
    display: flex;
    align-items: center;
}
.botonInicio{
    background-color: rgba(78, 15, 70, 0.781);
    border-color: rgb(58, 40, 75);
    color: rgb(223, 223, 223);
    padding: .6em;
    cursor: pointer;
    border-radius: .2em;
}

@keyframes header-inicio {
    0%      {width: 0%;}
    100%    {width: 100%;}
}
@keyframes header-fin {
    0%      {width: 100%;}
    100%    {width: 0%;}
}
.animacionHead-inicio{
    animation-name: header-inicio;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.animacionHead-fin{
    animation-name: header-fin;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#header-botones{
    overflow: hidden;
    width: 0%;
    display: flex;
    align-items: center;
}
.header-menu{
    white-space: nowrap;
    justify-content: center;
    margin-left: 1.5rem;
    

}
.contenido{
    min-height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carpetaLink{
    cursor: pointer ;
    background: none;
    border: none;
    color: white;
}


.loginTexto{
    color: aliceblue;
    font-weight: bold;

}
.loginInput{
    border-radius: .3em;
    margin-bottom: 1.5em;
    box-shadow: 5px 5px ;

}
.loginForm{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    max-width: 20em;
    margin: 1em;
    align-items: center;
    
}
.loginButton{
    cursor: pointer;
    width: 6em;
    background-color: rgb(160, 142, 161);
    border-radius: .4em;
    border-style:none;
    padding: .3em 0em;
    box-shadow: 5px 5px ;
    transition-duration: 500ms;



}
.loginButton:hover{
    background-color: rgb(199, 165, 199);
    transition-property: all;
    transition-duration: 500ms;
}