{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff mode</title>
    <link rel="icon" href="{% static 'icons/logo.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'css/generics.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body class="admin-body">
    {% if pendingUsers  %}
        <header class="header-admin">
            <h1>Staff zone</h1>
            <a class="button-dark-mode generic-padding-button" href="{% url 'core:index' %}">volver</a>
        </header>
        <table >
            
            <tbody>
                <tr style="padding-bottom: 1.2em;">
                    <th>
                        <p>
                            usarios
                        </p>
                    </th>
                    <th>
                        aciones
                    </th>
                </tr>
                {% for i in pendingUsers %}
                    <tr class="column-hover " >
                        <th class="conteiner-center">
                            <p class="usernames">{{i}}</p>
                        </th>
                        <th>
                            <form method="post" class="coneiner-buttons-actions">
                                {% csrf_token %}
                                <button class="button-refuse generic-padding-button" name='refuse' value="{{i}}" type="submit">Rechazar</button>    
                                <button class="button-accept generic-padding-button" name='accept' value="{{i}}" type="submit">Aceptar</button>
                            </form>
                    
                        </th>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    {% else %}
        <div class="conteiner-no-users-request">
            <h1 class=""> No hay solicitudes </h1>
            <a class="button-dark-mode generic-padding-button"  href="{% url 'core:index' %}">volver</a>
        </div>
    {% endif %}
    <footer class="footer-admin">
        <a class="button-dark-mode generic-padding-button" href="{% url 'core:index' %}">volver</a>

    </footer>
</body>
</html>