{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>staff mode</title>
    <link rel="icon" href="{% static 'icons/logo.svg' %}" type="image/svg+xml">
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <style>
        @font-face{
            font-family: 'AgaveNerdFontMono-Regular';
            src: url("{% static 'fuente/AgaveNerdFontMono-Regular.ttf' %}") format('truetype');
        }
        body{
            font-family: 'AgaveNerdFontMono-Regular';
        }
        *{
            color:white
        }
    </style>
</head>
<body style='background-color: rgb(48, 28, 42); display: flex; align-items: center; justify-content: center;'>
    {% if pendingUsers  %}
        {% for i in pendingUsers %}
        <form method="post">
            {% csrf_token %}
            {{i}}
            <button name='accept' value="{{i}}" type="submit">Aceptar</button>
            <button name='refuse' value="{{i}}" type="submit">Rechazar</button>
        </form>
        {% endfor %}
    {% else %}
        <h1> No hay solicitudes </h1>
    {% endif %}
    <a href="{% url 'core:index' %}">volver</a>


</body>
</html>