{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cella</title>
    <link rel="icon" href="{% static 'icons/logo.svg' %}" type="image/svg+xml">
    <style>
        @font-face{
            font-family: 'AgaveNerdFontMono-Regular';
            src: url("{% static 'fuente/AgaveNerdFontMono-Regular.ttf' %}") format('truetype');
        }
        body{
            font-family: 'AgaveNerdFontMono-Regular';
        }
        
    </style>
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
    <script src="{% static 'funcionalidad.js' %}"></script>

</head>
<body>
    <header>
        <div style="padding: 0.5rem; display: flex">
            <button onclick="animacionHeader()" class="botonInicio">
                <div class="logotipo">
                    <img src="{% static 'icons/logo.svg' %}" style="height: 3.5rem; width: 3.5rem;">
                    <h2 style="padding-left: 0.5rem;">CELLA</h2>
                </div>
            </button>
            <div id="header-botones">
                <button class="header-menu" onclick="window.CrearCarpertaFormulario.showModal()"> crear carpeta</button>
                <dialog id="CrearCarpertaFormulario">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="DirDelRoot" value="{{ ruta }}">
                        <input required type="text" name="nameDir">
                        <button type="submit" name="meakedir"> crear </button>

                    </form>
                    
                    <button onclick="window.CrearCarpertaFormulario.close()"> cerrar</button>

                </dialog>
                <button onclick="window.subirMenuFile.showModal();" class="header-menu">Subir archivo</button>
                <button onclick="window.subirMenuDir.showModal();" class="header-menu">Subir carpeta</button>
            </div>
        </div>
 
    </header>
    <main>

        <dialog id="subirMenuDir">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="root" type='hidden' value="{{ ruta }}">
                <input name="dirUp" type="file" webkitdirectory directory >
                <button  type="submit">enviar</button>
            </form>
            <button onclick="window.subirMenuDir.close();">cerrar</button>
        </dialog>

        <dialog id="subirMenuFile">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input name="root" type='hidden' value="{{ ruta }}">
                <input name="fileUp" type="file"  >
                <button type="submit">enviar</button>
            </form>
            <button onclick="window.subirMenuFile.close();">cerrar</button>
        </dialog>

        

        <dialog id="renombrarMenu">
            <form  method="post">
                {% csrf_token %}
                <div id="renombrarContext">

                </div>
                <input name="root" type='hidden' value="{{ ruta }}">
                <input name="NewName" required type="text">
                <button type="submit" name='rename' >confimarar</button>
            </form>
            <button onclick="window.renombrarMenu.close()">cerrar</button>
        </dialog>

    {% if error  %}
        <dialog open id="errorCella">
            {{ error }}
            <button onclick="window.errorCella.close()"> cerrar</button>
        </dialog>
    {% endif %}


        <div style="background-color: bisque;">
            <center>
                {% if ruta %}
                   Inicio/{{ ruta }}
                   <form method="post">
                    {% csrf_token %}
                        <button name="back" value="{{ ruta }}">Pa atras</button>
                        <button >Pa inicio</button>
                   </form>
                    
                {% else %}
                    Inicio
                {% endif %}
            </center> 
        </div>
 
        <div class='contenido'>
            <h2 style="padding-bottom: 0.2rem;">carpetas</h2>
            {% for i in carpetas%}

            <form method="post">
                {% csrf_token %}
                {% if ruta %}
                <input name="root" type='hidden' value="{{ ruta }}">
                {% endif %}


                <button type="button" onclick="renombrar('{{i}}','dir'); ">renombrar</button>

                <button type="submit" name='del' value="{{  i }}">borrar</button>    
                <button name="dir" value="{{ i }}" >{{ i }}</button>
            </form>

           

            <br>
            {% endfor %}
  
            <h2 style="padding-top: 0.2rem; padding-bottom: 0.2rem;">archivos</h2>
            {% for i in archivos%}
            <div style="width:100%; display:flex; justify-content:space-between;">
                {{ i }}
                <form method="post" >
                    {% csrf_token %}
                    <input name="type" type='hidden' value='file'>
                    <input name="root" type='hidden' value="{{ ruta }}">
                    <button type="button" onclick="renombrar('{{i}}','file'); ">renombrar</button>  
                    <button type="submit" name='del' value="{{  i }}">borrar</button>  
                    <button type="submit" name='fileDown' value="{{  i }}">descarga</button>    
                </form>
            </div>
            <br>
            {% endfor %}


        </div>
    </main>
    <footer >
       <p> aqui va ver paginacion</p>
       
        <a style="border-radius: 10%; background-color: rgb(221, 211, 211); padding: 0.2rem;" href="{% url 'core:cierre' %}">Cerrar</a>
    </footer> 
        
</body>
</html>

