{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>join</title>
        <link rel="icon" href="{% static 'icons/logo.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'css/session.css' %}">
        <link rel="stylesheet" href="{% static 'css/generics.css' %}">
    </head>
    <body >
        {% if error  %}
            <dialog  id="errorCella" class='error-mesagge'>
                <center>
                    <p>{{ error }}</p>
                    <button class='button-error' onclick="window.errorCella.close()"> cerrar</button>     
                </center>
            </dialog>
            <script>
                window.errorCella.showModal();
            </script>
        {% endif %}
        <div class="container-session">
            
                <form method="post" class="session-form" >
                    {% csrf_token %}
                    <label class="session-label-text" >Usuario</label>
                    <input class="text-input input-space" type="text" required name="username">
        
                    <label class="session-label-text">contraseña</label>
                    <div class="container-password input-space">
                        <input class="check-password" type="checkbox" name="" id="MostrarPass1">
                        <input class="text-input" type="password" required name="password1" id="passW1">
                    </div>
                        <label class="session-label-text">de nuevo contraseña</label>
                    <div class="container-password input-space">
                        <input class="check-password" type="checkbox" name="" id="MostrarPass2">
                        <input class="text-input" type="password" required name="password2" id="passW2">    
                    </div>
                    <label class="session-label-text" >Correo</label>
                    <input class="text-input input-space" type="email" required name="email">

                    <button class="button-dark-mode button-session" type="submit">Solicitar</button>
                    <a class="button-dark-mode button-session" href='./login'>Tengo cuenta</a>
                </form>
                <script>
                    const check1= document.getElementById('MostrarPass1')
                    check1.addEventListener('click',()=>{visibilidad(document.getElementById('passW1'))})
                    const check2= document.getElementById('MostrarPass2')
                    check2.addEventListener('click',()=>{visibilidad(document.getElementById('passW2'))})
                    function visibilidad(pass){
                        if(pass.type=='text'){
                            pass.type='password'
                        }else{
                            pass.type='text'
                        }
                    }
                </script>
        </div>

    </body>
</html>