{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio sesion</title>
        <link rel="icon" href="{% static 'icons/logo.svg' %}" type="image/svg+xml">
        <link rel="stylesheet" href="{% static 'css/generics.css' %}">
        <link rel="stylesheet" href="{% static 'css/session.css' %}">
    </head>
    <body>
        {% if error  %}
        <dialog  id="errorCella" class='error-mesagge'>
            <center>
                <p>{{ error }}</p>
                <button class='button-error' onclick="window.errorCella.close()"> cerrar</button>     
            </center>
        </dialog>
        <script>
            window.errorCella.showModal();
        </script>
        {% endif %}
        <div class="container-session">
                <form method="post" class="session-form" >
                    {% csrf_token %}
                    <label class="session-label-text" >Usuario</label>
                    <input class="text-input input-space"  type="text" required name="username">
                    <label class="session-label-text">contraseña</label>
                    <input class="text-input input-space" type="password" required name="password" id="">
                        <button class="button-dark-mode button-session" type="submit">Acceder</button>
                        <a  class="button-dark-mode button-session" href='./join'>Solicitar una cuenta</a>
                </form>
        </div>
    </body>
</html>